<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Frontier - Página Principal</title>
  <link rel="stylesheet" href="/Components/blocks/main.css">
  <link rel="stylesheet" href="/Components/blocks/popup.css">
</head>

<body class="page page--main">
  <header class="header header--main">
    <div class="header__container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSphFr1Ay6uVgEhvW590zUO80z6wcKMj4CmHA&s" alt="Logo" class="header__logo">
      <nav class="header__nav">
        <a href="https://www.imdb.com" target="_blank" class="header__link">
          <img src="/images/film.svg" alt="Más películas" class="header__icon">More Movies IMDb</a>
        <a href="#" class="header__link" id="favorites-btn">
          <img src="/images/briefcase.svg" alt="Favoritos" class="header__icon">Favorites</a>
          <div id="popupFavorites" class="popup-favorites">
            <div class="popup-favorites__content">
              <button class="popup-favorites__close">&times;</button>
              <div class="popup-content popup-favorites__movies">
                <!-- Las películas favoritas se inyectarán aquí con JavaScript -->
              </div>
            </div>
          </div>
      </nav>
      <form class="search__form" id="search-form">
        <input type="text" class="search__input" placeholder="Buscar película o serie..." required>
        <button type="submit" class="search__button">Buscar</button>
      </form>
    </div>
  </header>

  <main class="main-content">
    <div class="welcome-message">
      <!-- Mensaje dinámico de bienvenida -->
    </div>
    <div class="movies__grid">
      <!-- Resultados de películas se inyectarán aquí -->
    </div>
  </main>



  <footer class="footer">
    <button class="header__logout">Cerrar Sesión
      <img src="/images/log-out.svg" alt="Cerrar sesión" class="header__logout-icon">
    </button>
    <p class="footer__text">© 2024 Final Frontier. Todos los derechos reservados.</p>
    <div class="footer__socials">
    </div>
  </footer>

  <script src="/Components/src/main.js" defer></script>
</body>

</html>